node_modules
.idea/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.terraform.lock.hcl

# Crash log files
crash.log